<launch>
    <!-- ...existing code... -->
    <include file="$(find-pkg-share turtlebot3_navigation2)/launch/navigation2.launch.py">
        <arg name="use_sim_time" value="true"/>
        <arg name="map" value="$(find tt_turtle)/map/map_house.yaml"/>
    </include>
    <!-- ...existing code... -->
</launch>