<launch>
    <!-- ...existing code... -->
    <include file="$(find turtlebot3_navigation)/launch/turtlebot3_navigation.launch">
        <!-- <arg name="use_sim_time" value="true"/> -->
        <arg name="map_file" value="$(find tt_turtle)/map/map.yaml"/>
    </include>
    <!-- ...existing code... -->
</launch>